body {
    background:black; /*fondo de pantalla */
    font-family: 'Marvel', sans-serif;
}

h1{
	color:rgb(77, 77, 6);
	font-size: 28px;
	text-align:center;
	border: 5px solid white;
	background: white;
	border-radius: 10%;
	border-bottom-style: ridge;
	margin-left: 2%;

}

h2{
	color:rgb(77, 77, 6);
	border-bottom: 2px solid rgb(77, 77, 6);

}

h3{
	color: #232931;
	font-size: 24px;
}

p {
	color: #071e3d;
	font-size: 18px;
}

li {
	color: #071e3d;
	font-size: 18px;
}

img {
    width: 160px;
    height: 160px;
}

ul.lista_datos_presentacion
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.datos_presentacion{
	border-bottom: 2px solid rgb(82, 74, 74);
	margin-bottom: 8px;
}

.section {
	background-color: white;
	padding-top: 10px;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 10px;
	width: 56%;
	float: right;
	margin-top: 10px;
	margin-right: 5%;
}

nav {
	position:fixed;
	width: 23%;
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}

.imagen {
	float: left;
	display: block;
}

#foto{
	width: 200px;
	height: 230px;
	border-radius: 50%;
	margin-left: 22%;
	margin-top: 3%;
	border: 5px solid white;
}

.item{
	border-radius: 10%;
	border-bottom-style: ridge;
	background: white;
	list-style-type: none;
	margin-bottom: 3%;
	text-align: center;
	color: #DB3B61;
}

a{
	text-decoration: none;
	color:grey
}

.titulo{
	text-align: center;
}

#foto{
	margin:auto;
}